USE [master]
GO
/****** Object:  Database [alekdral_actpro_db]    Script Date: 3/6/2026 1:58:45 ******/
CREATE DATABASE [alekdral_actpro_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'alekdral_actpro_db_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\alekdral_actpro_db_data.mdf' , SIZE = 4160KB , MAXSIZE = 1024000KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'alekdral_actpro_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\alekdral_actpro_db_log.ldf' , SIZE = 6912KB , MAXSIZE = 1024000KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [alekdral_actpro_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [alekdral_actpro_db]
GO
/****** Object:  User [alekdral_admin]    Script Date: 3/6/2026 1:58:45 ******/
CREATE USER [alekdral_admin] FOR LOGIN [alekdral_admin] WITH DEFAULT_SCHEMA=[alekdral_admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [alekdral_admin]
GO
/****** Object:  Schema [alekdral_admin]    Script Date: 3/6/2026 1:58:46 ******/
CREATE SCHEMA [alekdral_admin]
GO
/****** Object:  Table [alekdral_admin].[__EFMigrationsHistory]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[Activities]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NameEn] [nvarchar](max) NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AspNetRoleClaims]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AspNetRoles]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AspNetUserClaims]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AspNetUserLogins]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AspNetUserRoles]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AspNetUsers]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ProfilePicturePath] [nvarchar](max) NULL,
	[Credits] [float] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AspNetUserTokens]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[AuditLogs]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NOT NULL,
	[EntityName] [nvarchar](max) NOT NULL,
	[EntityId] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[BannedUsers]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[BannedUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[BannedAt] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BannedUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[Cities]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NameEn] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[Comments]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[AspNetUserId] [nvarchar](450) NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[Favorites]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[Favorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AspNetUserId] [nvarchar](450) NOT NULL,
	[PlaceId] [int] NOT NULL,
 CONSTRAINT [PK_Favorites1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[News]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Likes] [int] NOT NULL,
	[ContentEn] [nvarchar](max) NULL,
	[TitleEn] [nvarchar](max) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[NewsLikes]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[NewsLikes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NewsId] [int] NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NewsLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[PlaceClosures]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[PlaceClosures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[ClosureDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PlaceClosures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[PlaceImages]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[PlaceImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NULL,
	[ImageURL] [varchar](255) NULL,
 CONSTRAINT [PK_PlaceImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[Places]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[Places](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[CityId] [int] NULL,
	[ActivityId] [int] NULL,
	[Capacity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Rating] [int] NULL,
	[IsOutdoor] [bit] NULL,
	[Address] [nvarchar](max) NOT NULL,
	[OwnerId] [nvarchar](450) NULL,
	[IsApproved] [bit] NOT NULL,
	[DescriptionEn] [nvarchar](max) NULL,
	[NameEn] [nvarchar](max) NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [alekdral_admin].[Reservations]    Script Date: 3/6/2026 1:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alekdral_admin].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AspNetUserId] [nvarchar](450) NULL,
	[PlaceId] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[ReservationDate] [date] NULL,
	[ReservationTime] [time](7) NULL,
	[CreatedAt] [datetime] NULL,
	[PaymentMethod] [int] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [alekdral_admin].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251220203224_ManualSync', N'9.0.0')
INSERT [alekdral_admin].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251226142130_FixNamingFinal', N'9.0.0')
INSERT [alekdral_admin].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251230184050_AddRatingToComments', N'9.0.0')
GO
SET IDENTITY_INSERT [alekdral_admin].[Activities] ON 

INSERT [alekdral_admin].[Activities] ([Id], [Name], [NameEn]) VALUES (1, N'Футбол', N'Football')
INSERT [alekdral_admin].[Activities] ([Id], [Name], [NameEn]) VALUES (2, N'Баскетбол', N'Basketball')
INSERT [alekdral_admin].[Activities] ([Id], [Name], [NameEn]) VALUES (3, N'Волейбол', N'Volleyball')
SET IDENTITY_INSERT [alekdral_admin].[Activities] OFF
GO
INSERT [alekdral_admin].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'35751e3b-26af-4daa-b8f7-0d3eb5bceead', N'User', N'USER', NULL)
INSERT [alekdral_admin].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'764bb9a3-5c15-409f-b9cd-14665ba14a78', N'Owner', N'OWNER', NULL)
INSERT [alekdral_admin].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'beb05d89-2dff-4374-b707-67793714b771', N'Admin', N'ADMIN', NULL)
GO
INSERT [alekdral_admin].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0fb3b188-efb1-4698-a1e2-3404c0ff20e6', N'35751e3b-26af-4daa-b8f7-0d3eb5bceead')
INSERT [alekdral_admin].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'22476259-e60d-4678-b8bc-850746eb7aa2', N'35751e3b-26af-4daa-b8f7-0d3eb5bceead')
INSERT [alekdral_admin].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'25f06a7c-fe29-4d6b-9394-9c38330fa9e2', N'35751e3b-26af-4daa-b8f7-0d3eb5bceead')
GO
SET IDENTITY_INSERT [alekdral_admin].[AuditLogs] ON 

INSERT [alekdral_admin].[AuditLogs] ([Id], [UserId], [UserEmail], [Action], [EntityName], [EntityId], [Details], [CreatedAt], [IpAddress]) VALUES (1, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', N'alekdralev@gmail.com', N'User Login', N'User', N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', N'Потребителят влезе в системата.', CAST(N'2026-02-24T09:02:14.0433654' AS DateTime2), N'213.91.250.137')
INSERT [alekdral_admin].[AuditLogs] ([Id], [UserId], [UserEmail], [Action], [EntityName], [EntityId], [Details], [CreatedAt], [IpAddress]) VALUES (2, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', N'alekdralev@gmail.com', N'Create Place', N'Place', N'1', N'Създаден обект: Футболно игрище "Байкушев"', CAST(N'2026-02-24T09:03:40.6349278' AS DateTime2), N'213.91.250.137')
INSERT [alekdral_admin].[AuditLogs] ([Id], [UserId], [UserEmail], [Action], [EntityName], [EntityId], [Details], [CreatedAt], [IpAddress]) VALUES (3, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', N'alekdralev@gmail.com', N'Edit Place', N'Place', N'1', N'Променени данни за: Футболно игрище "Байкушев"', CAST(N'2026-02-24T09:03:47.0546304' AS DateTime2), N'213.91.250.137')
GO
SET IDENTITY_INSERT [alekdral_admin].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[BannedUsers] ON 

INSERT [alekdral_admin].[BannedUsers] ([Id], [Email], [Phone], [BannedAt], [Reason]) VALUES (1, N'mitaka16661@gmail.com', N'0883308777', CAST(N'2026-02-24T19:02:36.1893386' AS DateTime2), N'Системна забрана')
SET IDENTITY_INSERT [alekdral_admin].[BannedUsers] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[Cities] ON 

INSERT [alekdral_admin].[Cities] ([Id], [Name], [NameEn]) VALUES (1, N'София', N'Sofia')
INSERT [alekdral_admin].[Cities] ([Id], [Name], [NameEn]) VALUES (2, N'Пловдив', N'Plovdiv')
INSERT [alekdral_admin].[Cities] ([Id], [Name], [NameEn]) VALUES (3, N'Варна', N'Varna')
SET IDENTITY_INSERT [alekdral_admin].[Cities] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[Comments] ON 

INSERT [alekdral_admin].[Comments] ([Id], [PlaceId], [AspNetUserId], [CommentText], [CreatedAt], [Rating]) VALUES (1, 1, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', NULL, CAST(N'2026-02-24T09:05:21.040' AS DateTime), 5)
INSERT [alekdral_admin].[Comments] ([Id], [PlaceId], [AspNetUserId], [CommentText], [CreatedAt], [Rating]) VALUES (2, 2, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', NULL, CAST(N'2026-02-24T09:05:27.993' AS DateTime), 5)
INSERT [alekdral_admin].[Comments] ([Id], [PlaceId], [AspNetUserId], [CommentText], [CreatedAt], [Rating]) VALUES (5, 3, N'f9b69c0d-5dee-454a-a431-fafaf76893a7', N'Невероятно!', CAST(N'2026-02-25T18:39:54.150' AS DateTime), 5)
SET IDENTITY_INSERT [alekdral_admin].[Comments] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[Favorites] ON 

INSERT [alekdral_admin].[Favorites] ([Id], [AspNetUserId], [PlaceId]) VALUES (6, N'f9b69c0d-5dee-454a-a431-fafaf76893a7', 3)
INSERT [alekdral_admin].[Favorites] ([Id], [AspNetUserId], [PlaceId]) VALUES (7, N'22476259-e60d-4678-b8bc-850746eb7aa2', 1)
INSERT [alekdral_admin].[Favorites] ([Id], [AspNetUserId], [PlaceId]) VALUES (8, N'22476259-e60d-4678-b8bc-850746eb7aa2', 2)
SET IDENTITY_INSERT [alekdral_admin].[Favorites] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[News] ON 

SET IDENTITY_INSERT [alekdral_admin].[News] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[NewsLikes] ON 

INSERT [alekdral_admin].[NewsLikes] ([Id], [NewsId], [UserId]) VALUES (1, 1, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7')
INSERT [alekdral_admin].[NewsLikes] ([Id], [NewsId], [UserId]) VALUES (2, 1, N'05039365-6cfa-48b8-98f8-25f72d888f76')
INSERT [alekdral_admin].[NewsLikes] ([Id], [NewsId], [UserId]) VALUES (3, 1, N'96ff5b83-508d-42e5-aa03-70793097f334')
SET IDENTITY_INSERT [alekdral_admin].[NewsLikes] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[PlaceImages] ON 

INSERT [alekdral_admin].[PlaceImages] ([Id], [PlaceId], [ImageURL]) VALUES (1, 1, N'/images/places/c0cb3527-1cee-4f57-b44e-004762902e56.jpg')
INSERT [alekdral_admin].[PlaceImages] ([Id], [PlaceId], [ImageURL]) VALUES (2, 1, N'/images/places/dfc79d9f-8131-4a6a-9d0e-5a181dff6e70.jpg')
INSERT [alekdral_admin].[PlaceImages] ([Id], [PlaceId], [ImageURL]) VALUES (3, 1, N'/images/places/cef595b6-3380-425c-b8b8-6050d4af8de3.jpg')
SET IDENTITY_INSERT [alekdral_admin].[PlaceImages] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[Places] ON 

INSERT [alekdral_admin].[Places] ([Id], [Name], [Description], [CityId], [ActivityId], [Capacity], [Price], [Rating], [IsOutdoor], [Address], [OwnerId], [IsApproved], [DescriptionEn], [NameEn]) VALUES (3, N'Игрище за волейбол "ТЕСТ"', N'Този обект е тестови, резервациите за него няма да бъдат обработвани.', 15, 3, 12, CAST(8.00 AS Decimal(18, 2)), 5, 0, N'ул.ТЕСТ', N'22476259-e60d-4678-b8bc-850746eb7aa2', 1, N'This property is a test property, reservations for it will not be processed.', N'Volleyball court "TEST"')
SET IDENTITY_INSERT [alekdral_admin].[Places] OFF
GO
SET IDENTITY_INSERT [alekdral_admin].[Reservations] ON 

INSERT [alekdral_admin].[Reservations] ([Id], [AspNetUserId], [PlaceId], [FirstName], [LastName], [Phone], [ReservationDate], [ReservationTime], [CreatedAt], [PaymentMethod]) VALUES (1, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', 3, N'Александър', N'Дралев', N'0897734888', CAST(N'2026-02-25' AS Date), CAST(N'18:00:00' AS Time), CAST(N'2026-02-24T09:08:44.593' AS DateTime), 0)
INSERT [alekdral_admin].[Reservations] ([Id], [AspNetUserId], [PlaceId], [FirstName], [LastName], [Phone], [ReservationDate], [ReservationTime], [CreatedAt], [PaymentMethod]) VALUES (6, N'90c02244-ce1f-45d2-b4cd-8af41b05c9e7', 3, N'Александър', N'Дралев', N'0897734888', CAST(N'2026-02-25' AS Date), CAST(N'17:00:00' AS Time), CAST(N'2026-02-25T10:25:53.017' AS DateTime), 0)
INSERT [alekdral_admin].[Reservations] ([Id], [AspNetUserId], [PlaceId], [FirstName], [LastName], [Phone], [ReservationDate], [ReservationTime], [CreatedAt], [PaymentMethod]) VALUES (8, N'f9b69c0d-5dee-454a-a431-fafaf76893a7', 3, N'Ani', N'Bocaniala ', N'0876457047', CAST(N'2026-02-27' AS Date), CAST(N'22:00:00' AS Time), CAST(N'2026-02-25T18:40:17.250' AS DateTime), 0)
SET IDENTITY_INSERT [alekdral_admin].[Reservations] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [alekdral_admin].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/6/2026 1:58:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [alekdral_admin].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [alekdral_admin].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [alekdral_admin].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [alekdral_admin].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [alekdral_admin].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/6/2026 1:58:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [alekdral_admin].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Comments_AspNetUserId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_AspNetUserId] ON [alekdral_admin].[Comments]
(
	[AspNetUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PlaceId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PlaceId] ON [alekdral_admin].[Comments]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Favorites_AspNetUserId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_AspNetUserId] ON [alekdral_admin].[Favorites]
(
	[AspNetUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_PlaceId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_PlaceId] ON [alekdral_admin].[Favorites]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaceClosures_PlaceId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_PlaceClosures_PlaceId] ON [alekdral_admin].[PlaceClosures]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Places_ActivityId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Places_ActivityId] ON [alekdral_admin].[Places]
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Places_CityId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Places_CityId] ON [alekdral_admin].[Places]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Places_OwnerId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Places_OwnerId] ON [alekdral_admin].[Places]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservations_AspNetUserId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_AspNetUserId] ON [alekdral_admin].[Reservations]
(
	[AspNetUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_PlaceId]    Script Date: 3/6/2026 1:58:47 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_PlaceId] ON [alekdral_admin].[Reservations]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [alekdral_admin].[Reservations] ADD  DEFAULT ((0)) FOR [PaymentMethod]
GO
ALTER TABLE [alekdral_admin].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [alekdral_admin].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [alekdral_admin].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [alekdral_admin].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [alekdral_admin].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [alekdral_admin].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [alekdral_admin].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [alekdral_admin].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [alekdral_admin].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_AspNetUsers_AspNetUserId] FOREIGN KEY([AspNetUserId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[Comments] CHECK CONSTRAINT [FK_Comments_AspNetUsers_AspNetUserId]
GO
ALTER TABLE [alekdral_admin].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Places] FOREIGN KEY([PlaceId])
REFERENCES [alekdral_admin].[Places] ([Id])
GO
ALTER TABLE [alekdral_admin].[Comments] CHECK CONSTRAINT [FK_Comments_Places]
GO
ALTER TABLE [alekdral_admin].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites1_AspNetUsers] FOREIGN KEY([AspNetUserId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[Favorites] CHECK CONSTRAINT [FK_Favorites1_AspNetUsers]
GO
ALTER TABLE [alekdral_admin].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites1_Places] FOREIGN KEY([PlaceId])
REFERENCES [alekdral_admin].[Places] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[Favorites] CHECK CONSTRAINT [FK_Favorites1_Places]
GO
ALTER TABLE [alekdral_admin].[PlaceClosures]  WITH CHECK ADD  CONSTRAINT [FK_PlaceClosures_Places_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [alekdral_admin].[Places] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [alekdral_admin].[PlaceClosures] CHECK CONSTRAINT [FK_PlaceClosures_Places_PlaceId]
GO
ALTER TABLE [alekdral_admin].[PlaceImages]  WITH CHECK ADD  CONSTRAINT [FK_PlaceImages_Places] FOREIGN KEY([PlaceId])
REFERENCES [alekdral_admin].[Places] ([Id])
GO
ALTER TABLE [alekdral_admin].[PlaceImages] CHECK CONSTRAINT [FK_PlaceImages_Places]
GO
ALTER TABLE [alekdral_admin].[Places]  WITH CHECK ADD  CONSTRAINT [FK_Places_Activities] FOREIGN KEY([ActivityId])
REFERENCES [alekdral_admin].[Activities] ([Id])
GO
ALTER TABLE [alekdral_admin].[Places] CHECK CONSTRAINT [FK_Places_Activities]
GO
ALTER TABLE [alekdral_admin].[Places]  WITH CHECK ADD  CONSTRAINT [FK_Places_AspNetUsers_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
GO
ALTER TABLE [alekdral_admin].[Places] CHECK CONSTRAINT [FK_Places_AspNetUsers_OwnerId]
GO
ALTER TABLE [alekdral_admin].[Places]  WITH CHECK ADD  CONSTRAINT [FK_Places_Cities] FOREIGN KEY([CityId])
REFERENCES [alekdral_admin].[Cities] ([Id])
GO
ALTER TABLE [alekdral_admin].[Places] CHECK CONSTRAINT [FK_Places_Cities]
GO
ALTER TABLE [alekdral_admin].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_AspNetUsers_AspNetUserId] FOREIGN KEY([AspNetUserId])
REFERENCES [alekdral_admin].[AspNetUsers] ([Id])
GO
ALTER TABLE [alekdral_admin].[Reservations] CHECK CONSTRAINT [FK_Reservations_AspNetUsers_AspNetUserId]
GO
ALTER TABLE [alekdral_admin].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Places] FOREIGN KEY([PlaceId])
REFERENCES [alekdral_admin].[Places] ([Id])
GO
ALTER TABLE [alekdral_admin].[Reservations] CHECK CONSTRAINT [FK_Reservations_Places]
GO
USE [master]
GO
